.navbar {
  padding: 0px;
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1109px;
  }
  
} 
.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex !important;
  flex-basis: auto;

  .mr-auto {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;

    .nav-item {
      display: list-item;
      text-align: -webkit-match-parent;
      .nav-link {
        color: #fff;
        font-family: CircularStd;
        font-weight: 500;
        // font-size: 0.875em;
        padding-right: 1rem;
        padding-left: 1rem;
        position: relative;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        text-decoration: none !important;
        background-color: transparent;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
  .ml-auto {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    .nav-item {
      display: flex;
      .rounded-btn {
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }
}
